@font-face {
    font-family: "Hershey-Futural-30";
    src: url("./assets/fonts/Hershey-Futural-30.ttf") format("ttf");
}

body {
    font-family: 'Hershey';
    background: #29281C;
    font-family: 'Hershey-Futural-30', sans-serif;
    color: #DCDCDCDC;
    font-size: 0.8rem;
    margin: 3vh 2vw 3vh 2vw;
    overflow: scroll;
}

a {
    color: #DCDCDCDC;
    text-decoration: none;
}

/* header */

.header {
    position: sticky;
    top: 3vh;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.name, .email {
    color: #9370DB;
}

.works, .info {
    color: #EC825B;
    width: 20px;
    height: 20px;
}

.works:hover, .info:hover {
    color:#DCDCDCDC !important;
}

.works a, .info a {
    color: #EC825B;
}

/* info */

.more-info {
    position: fixed;
    margin-top: 30px;
    width: 60vw;
}

#more-info {
    display: none;
}

.more-info p {
    padding-inline-start: 40px;
    margin-top: 0px;
    color:#808080;
    line-height: 0.9rem;
}

.more-info a{
    color:#DCDCDCDC;
}

h2 {
    color:#808080;
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 0px;
    /* text-decoration: underline; */
}

.collaborators, .appearances {
    margin-bottom: 20px;
}

ul {
    margin-top: 0px;
}

li {
    list-style: none;
    color:#808080;
}

li a {
    color:#DCDCDCDC;
}

li a:hover {
    color:#EC825B;
}

@media screen and (max-width:800px){
    .more-info {
        width: 92vw;
        margin-top: 50px;
    }   

    .more-info p {
        line-height: 1rem;
    }

    .header {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-content: unset;
    }

    #projects {
        margin: auto;
    }
/* 
    .project img {
        width: 100%;
    } */
    
    .slick-track {
        height: 50vh;
    }

    .project-container {
        width: 100%;
    }
}
  
/* projects */

#projects {
    display: block;
    /* position: absolute; */
    top: 30px;
    width: 95%;
    z-index: 0;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* slider */

.project-container {
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.project {
    width: auto;
    margin: auto;
}


.caption {
    margin-top: 10px;
}

.caption p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 5px;
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    color:#9370DB;
}

.slick-track {  
    position: relative;
    display: flex !important; 
    max-height: 80vh;
    width: auto;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    overflow-y:visible;
}  

.slick-slide {  
    height: inherit !important;     
    display: flex !important;   
    justify-content: center; 
} 

.slick-slide img {
    width: 100%;
    max-width: 640px;
    height: 100%;
    object-fit: contain;
}

/* .slider img {
    display: block;
    object-fit: contain;
    width: 100%;
} */

@media only screen and (max-width: 640px) {
    .slick-track {  
        height: fit-content;
    }  
}