@font-face {
    font-family: "Hershey-Futural-30";
    src: url("./assets/fonts/Hershey-Futural-30.ttf") format("ttf"),
         url("./assets/fonts/Hershey-Futural-30.woff") format("woff"),
         url("./assets/fonts/Hershey-Futural-30.woff2") format("woff2");
}


body {
    font-family: "Quicksand", sans-serif;
    /* background-color: #fefefe; */
    background: #82816d;
    color: #DCDCDCDC;
    font-size: 1.2rem;
    margin: 3vh 1vw 3vh 1vw;
    overflow: scroll;
}

a {
    color: #DCDCDCDC;
    text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
    color:#ff6c36;
    background: transparent;
  }
  
  ::selection {
    color:#ff6c36;
    background: transparent;
  }

/* header */

.header-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-top: 20px;
    z-index: 9999;
    gap: 30px;
    
}

/* .header-center {
    display: flex;
    flex-direction: row;
    gap: 45px;
} */

.name {
    /* position: fixed; */
    width: 500px;
    /* line-height: 1.2em; */
    color: #960909;
    /* color:#06271c; */
}

.email a{
    /* position: relative; */
    color: #740d80;
    /* color: #9370DB; */
}

.email p{
    padding: 0;
    margin: 0;
    text-align: right;
}

.email p:hover {
    color:#DCDCDCDC;
    cursor: pointer;
}

.email:hover .email-info{
    opacity: 1;
}

/* .email-info {
    opacity: 0;
    position: fixed;
    right: 15px;
    top: 45px;
    transition: opacity 0.3s;
} */

.email-info ul{
    padding-inline-start: 0;
}


.email-info li{
    color: #740d80;
    text-align: right;
    /* padding: 1px 0; */
}

#write {
    color:#7ae423;
}

.works {
    color:#7ae423;
}


.info {
    color: #dcdcdc;
    padding-top: 10px;
    width: 85px;
}

.info:hover {
    color:#7ae423;
    cursor: pointer;
}

.info-mobile {
    display: none;
}

.works:hover {
    color:#7ae423;
    cursor: pointer;
}

.other:hover {
    color:#7ae423;
    cursor: pointer;
}

/* .works, .info {
    width: 40px;
    height: 10px;
} */


/* info */

.info-container {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.more-info {
    overflow-y: scroll;
    height: 100%;
    z-index: 2;
    margin-top: 7px;
    pointer-events: none;
    display: none;
    grid-template-columns: 1fr 1fr;
}

.voicememos {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 9999999;
}

.voicememos a:hover {
    color: #7ae423;
}

/* .col1 {
    height: 100%;
    overflow-y: scroll;
}

.col2 {
    height: 100%;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.more-info::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .more-info {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.more-info p {
    padding-inline-start: 2%;
    margin-top: 0px;
    color:#DCDCDCDC;
    /* line-height: 0.9rem; */
    width: 565px;
}

.more-info ul {
    padding-inline-start: 2%;
}

.more-info a{
    color:#7ae423;
}

h2 {
    color:#DCDCDCDC;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 0px;
    /* text-decoration: underline; */
}

.collaborators, .appearances {
    margin-bottom: 20px;
}

ul {
    margin-top: 0px;
}

li {
    list-style: none;
    color:#DCDCDCDC;
}

li a:hover {
    color:#740d80;
}
  
/* projects */

.projects {
    position: absolute;
    z-index: 1;
    display: none;
    /* opacity: 1;
    transition: opacity 0.3s; */
    padding-top: 65px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: unset;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-align: center;
}

/* slider */

.project-container {
    margin: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.project {
    margin: auto;
}

.projects-inner {
    padding-bottom: 15px;
}
 
.project img {
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
}

/* #project-grid-0 {
    width: 600px;
} */

#project-grid-1 {
    display: grid;
    width: 800px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#project-grid-2 {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    justify-content: center;
    align-items: center;
}

#project-grid-3 {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 45px;
    justify-content: center;
    align-items: center;
}

#project-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 45px;
    justify-content: center;
    align-items: center;
}



.caption {
    margin-top: 10px;
}

.caption a{
    color:#7ae423;
}

.caption a:hover{
    color:#dcdcdc;
}

.caption p {
    margin: auto;
    width: 43vw;
    padding-top: 1px;
    padding-bottom: 3px;
    font-size: 0.8rem;
    position: relative;
    text-align: center;
    color: #DCDCDCDC;
}

.other-caption {
    margin-top: 10px;
    width: 100%;
}

.other-caption p{
        color: #DCDCDCDC;
        margin: 5px;
        padding-top: 1px;
        padding-bottom: 3px;
        font-size: 0.8rem;
        position: relative;
        text-align: center;
}


.other-caption a{
    color:#7ae423;
}

.other-caption a:hover{
    color:#dcdcdc;
}

#img-width {
    margin: auto;
    width: 550px;
}

#img-width-landscape {
    margin: auto;
    width: 800px;
}


#img-width-other {
    margin: auto;
    width: 500px;
}


.caption #details, #description {
    color: #DCDCDCDC;
    padding-bottom: 0;
}

.italic {
    font-style:italic;
    padding-right: 2px;
}

/* #neyeyeght img{
    width: 450px;
} */

/* other */

.other-container {
    display: none;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: unset;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.other-container::-webkit-scrollbar {
    display: none;
  }


.other-inner {
    display: flex;
    flex-direction: row;
    gap: 100px;
    /* align-items: center; */
    padding-right: 30px;
    height: 100%;
    padding: 70px;
}


.project-container-other {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.other-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
}

.other-img {
    height: 555px;
    width: 100%;
}

.other-img img {
    height: 100%;
}

.show-projects {
    display: block;
    pointer-events: unset;
}

.show-other {
    display: block;
    pointer-events: unset;
    z-index: 10;
} 

.show-more-info {
    display: grid;
    pointer-events: unset;
}

.name-mobile {
    display: none;
}

.close {
    display: none;
}

@media only screen and (max-width: 640px) {

    body {
        margin: auto;
        padding-top: 3vh;
        font-size: 1rem;
    }

    /* header */

    .voicememos {
        bottom: 15px;
    }

    .info-container {
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        z-index: 10;
        padding-top: 50px;
        padding-left: 0px;
        /* padding: 20px 8px; */
        width: 100%;
        z-index: 12;
    }

    .info {
        display: none;
    }

    .name {
        display: none;
    }

    .name-mobile {
        display: block;
        color:#960909;
        margin-top: 15px;
        margin-bottom: 12px;
        width: 91vw;
    }

    .close {
        display: block;
        color:#7ae423;
        padding-top: 10px;
    }

    .info-mobile {
        display: block;
        position: fixed;
        bottom: 15px;
        left: 9px;
        z-index: 999999;
    }

    .voicememos {
        right: 10px;
        padding-right: 0;
    }

    .more-info{
        background-color: #82816d;
        position: fixed;
        height: 100%;
        width: 98%;
        margin-bottom: 20px;
        z-index: 999;
        /* margin-right: 21px; */
        padding-right: px;
        margin-top: -50px;
        padding-top: 0px;
        padding-left: 9px;
        /* padding-bottom: 30px; */
        grid-template-columns: 1fr;
    }

    .col2 {
        padding-bottom: 100px;
    }

    .more-info {
        background-color: #82816d;
    }

    .more-info p{
        width: unset;
        padding-inline-start: 0;
    }

    .more-info ul {
        padding-inline-start: 0;
    }

    .header-container {
        display: flex;
        top: 0;
        left: 0;
        width: 96%;
        justify-content: space-between;
        padding-left: 9px;
        padding-top: 10px;
        z-index: 9999;
    }

    .caption p {
        width: 95vw;
        font-size: 10.5px;
        line-height: auto;
        margin: auto;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    
    #neyeyeght img{
        width: 100%;
    }

    .project-container {
        margin-bottom: 70px;
        margin-top: 0;
    }

    .project img {
        padding-bottom: 0;
    }
    
    .other-inner {
        padding-top: 12vh;
        padding-bottom: 12vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .other-img {
        height: 500px;
    }

    .other-caption {
        margin-top: 7px;
    }

    .other-caption p {
        color:#740d80;
        font-size: 6.5px; 
        margin-top: 0px;
        padding-top: 0px;
    }

    #project-grid-1, #project-grid-2, #project-grid-3{
        width: 95vw;
    }

    #project-grid-2 {
        grid-template-columns: 1fr;
        margin: auto;
        grid-gap: 15px;
        justify-items: center;
    }

    #project-grid-3 {
        justify-items: center;
        grid-template-columns: 1fr;
    }


    #img-width, #img-width-landscape {
        width: 95vw;

    }
}